Header{
    display: flex;
    justify-content: space-between;

    
   @media @mobile{
    flex-direction: column;
   justify-content: center;
   align-items: center;
    padding-top: 10px;
}

h1{
        margin: .5rem 5rem;

        @media @mobile {
            display: flex;
               
            font-size: 3rem;
        }
    }
    nav{
        display: flex;
        align-content: space-between;
        
    a{
    font-size: 1.5rem;
    margin: 2rem;
    text-decoration: none;
    color: black;
    justify-content: space-between;
  
}

    }
    border-bottom: 3px dotted gray;
}
